.create_form , .login_form, .assign_form{
    display: flex;
    width: 80%;
    margin-left: 10%;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.assign_form{
    width: 90%;
    margin-left: 5%;
}

.form_input, .form_input_large{
    width: 350px;
    height: 20px;
}

.form_button, .form_button_large {
    width: 350px;
    height: 30px;
}

.form_button:hover {
    cursor: pointer;
}

.form_textarea{
    width: 350px;
    height: 300px;
}

.form_input_large, .form_button_large{
    width: 400px;
}