.create_form , .login_form, .assign_form{
    display: flex;
    width: 80%;
    margin-left: 10%;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.assign_form{
    width: 90%;
    margin-left: 5%;
}

.form_input {
    width: 350px;
    height: 20px;
}

.form_button {
    width: 350px;
    height: 30px;
}

.form_button:hover {
    cursor: pointer;
}