.create_form , .login_form{
    display: flex;
    width: 80%;
    margin-left: 10%;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.input_form {
    width: 350px;
    height: 20px;
}

.button_form {
    width: 350px;
    height: 30px;
}

.button_form:hover {
    cursor: pointer;
}