body{
    background-color: #d6eaff;
}

h1{
    font-size: 24px;
    text-align: center;
    margin-top: 24px;
}

.confirm_delete--container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 300px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 50px;
    background-color: #b6cadf;
}

.confirm_delete--txt{
    font-size: 18px;
    color: black;
    width: 80%;
    text-align: center;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.simple-link{
    display: block;
    font-size: 18px;
    color: black;
    margin: 5px;
}

.species-container, .itineraries-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 40vw;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: aliceblue;
    overflow: overlay;
}

.hidden{
    display: none;
}

.date{
    min-width: 200px;
}

p{
    margin: 0;
    text-align: center;
}