.table, .mini-table {
    margin-top: 2.25rem;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border-collapse: initial;
    text-align: left;
}

.mini-table{
    width: 80%;
    margin-top: 0;
}

.table-title{
    font-size: 21px;
    margin-bottom: 5%;
}

.table td:first-of-type,
.table th:first-of-type {
    padding-left: 0.75rem;
}

.table td:last-of-type,
.table th:last-of-type {
    padding-right: 0.75rem;
}

.table thead {
    font-size: 22px;
}

.table th {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid white;
}

.table td {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.table__align--center {
    text-align: center;
}

.table__column--es {
    width: 10%;
}

.table__column--s {
    width: 15%;
}

.table__column--m {
    width: 20%;
}

.table__column--g {
    width: 25%;
}

tbody tr:nth-child(odd) {
    background-color: #d0e4fb;
}

tbody tr:nth-child(even) {
    background-color: #dfefff;
}

thead tr:first-child{
    background-color: white;
}

.table__button-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0 14px 0 0px;
    margin: 0;
    width: 100%;
}

.td {
    padding: 1rem;
}